<%- include('../common/top.ejs') %>
</head>

<body id="page-top">
  <!-- 상단 nav -->
  <%- include('../common/nav.ejs') %>
  <div id="home" class="intro route bg-image" style="background-image: url(/img/archive.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">Archive</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Archive, 연구, 정리, Contribute</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
 
 
  <!-- Post (게시판 글) -->
  <article class="post">
    <!-- post_header (게시판 글 제목) -->
    <header>
      <div class="title">
        <h2><b><a href="#"><%= data.title %></a></b></h2>
        <p>reference : <a href = "<%= data.reference %>"><%= data.reference %></a></p>
      </div>
      <div class="meta">
        <time class="published" datetime="2015-11-01"><%= data.time %></time>
        <a href="#" class="author"><span class="name"><%= data.Author %></span><img src="img/jun.jpg" alt="" /></a>
      </div>
    </header>

    <!-- post_content (게시판 글 내용) -->
    <nav class="about-mf">
      <div class="container">
        <div class="row">
          <div class="col-sm-jun">
            <div class="box-shadow-full">
              <%-data.description%>
            </div>
          </div>
        </div>
        <!-- <a href="/Project/2022" class="btn btn-outline-success" role="button">돌아가기</a>  -->
      </div>
    <nav>
    
  </article>       

  <!-- JavaScript Libraries -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/popper/popper.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/counterup/jquery.waypoints.min.js"></script>
  <script src="/lib/counterup/jquery.counterup.js"></script>
  <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/lib/typed/typed.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>

</body>
</html>