<%- include('../common/top.ejs') %>
<script src="/lib/jquery/jquery.min.js"></script>

</head>
<!-- head -->

<body id="page-top">
  <!-- 상단 nav -->
  <%- include('../common/nav.ejs') %>
  <div id="home" class="intro route bg-image" style="background-image: url(/img/edu.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">Education</h1>
          <p class="intro-subtitle"><span class="text-slider-items">교육자료, 참고자료, Mentoring, Growing</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>

 <!--/ Contents START - 글목록 부분 시작 /-->
 <section id="about" class="about-mf sect-pt4 route">
  <div class="container" >
    <br>
    <br>
    <!-- 해당 글목록 제목 (공지사항 / 뉴스 등등..)-->
    <h2 class="hyun_center"><strong>교육자료</strong></h2>

    <!--검색창-->
    <!-- <a href="/announce/create" class="btn btn-info btn-outline-primary float-right hyun_write" role="button">글쓰기</a> -->
    <div class="container input-group mb-2 hyun_div">
      <input class="form-control hyun_searchbar" id="search-input" placeholder="Search">
      <button class="hyun_button"id="search"><i class="fa-solid fa-magnifying-glass" style="color: gray"></i></button>        
    </div>

    <!-- EJS사용 글목록-->
    <!-- post list using EJS-->
    <div class="table-responsive-sm" >
      <table class="table table-hover" style="margin-bottom: 100px;">
        <thead>
          <tr>
            <th>No</th>
            <th>Title</th>
            <th>Time</th>
            <th>Author</th>
            <% if(isAuthenticated){ %>
            <th class="d-print-none">
              <a class="btn btn-sm btn-success" href="/edu/create">Add</a>
            </th>
            <% }%>
          </tr>
        </thead>
        <tbody>
          <% for (var i= 0; i<글목록.length; i++){ %>
            <tr>
              <td><%= i+1%></td>
              <td><a href = '/edu/detail/<%= 글목록[i]._id %>'><%= 글목록[i].title %></a></td>
              <td><%= 글목록[i].time.split(" ")[0] %></td>
              <!-- Post할때 권한도 DB에 넣어 준 후 권한이 1인지 확인할 수 있게 만들었으면 좋을 것 같다 -->
              <% if(글목록[i].Power == "1"){ %>
              <td>관리자</td>
              <% }else{ %>
              <td><%= 글목록[i].Author %></td>
              <% }%>       
              <% if(isAuthenticated){ %>
              <td class="d-print-none">
                <a class="btn btn-sm btn-warning" href="/edu/edit/<%= 글목록[i]._id %>" role="button">Edit</a>
                <!-- delete 버튼 누르면 새로고침까지 되게 고쳐야 한다 -->
                <button type="submit" class="delete btn btn-danger hyun_delete "  data-id = "<%= 글목록[i]._id %>">Delete</button> 
                <script src = "../js/delete.js"></script><!-- Ajax사용 -->
              </td>
              <% }%>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</section>
  <script src="/js/search.js"></script>

      <!-- JavaScript Libraries -->
      
      <script src="/lib/jquery/jquery-migrate.min.js"></script>
      <script src="/lib/popper/popper.min.js"></script>
      <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
      <script src="/lib/easing/easing.min.js"></script>
      <script src="/lib/counterup/jquery.waypoints.min.js"></script>
      <script src="/lib/counterup/jquery.counterup.js"></script>
      <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
      <script src="/lib/lightbox/js/lightbox.min.js"></script>
      <script src="/lib/typed/typed.min.js"></script>
      
      <!-- Template Main Javascript File  -->
      <script src="/js/main.js"></script>
     
</body>
</html>