<%- include('../common/top.ejs') %>
<script src="/lib/jquery/jquery.min.js"></script>

<style>
  /* 글목록 가운데 정렬 */
  .hyun_center{
    text-align: center;
    margin-bottom: 50px !important;
  }
  /* 검색창  */
  .hyun_searchbar{
    display: block !important;
    flex: none !important;
    width:  88%!important;
    border: 0;
  }
  .hyun_div{
  padding: 0px !important;
  background:white !important;
	background-color: white !important;
  width: 25% !important;  
  border-radius: 5px !important;
  margin-right: 15px !important;
  }
  .hyun_button {
	background:white;
	background-color: white;
	border-radius:10px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	font-size:14px;
	text-decoration:none;
}
.hyun_button:hover {
	background:skyblue;
	background-color:skyblue;
}
.hyun_button:active {
	position:relative;
	top:1px;
}
/* 여기까지 검색창 */
/* ======================= */

/* 메인 박스와 검색창 붙이기 위함 */
.hyun_mainbox {
  padding-top: 0rem !important;
}
/* 글쓰기 */
/* 사용x */
.hyun_write {
  float: left !important;
	background:linear-gradient(to bottom, #000000 5%, #0a0a0a 100%);
	background-color:#000000;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
  border: 0px;
  margin-left: 15px !important;
}
.hyun_write:hover {
	background:linear-gradient(to bottom, #0a0a0a 5%, #000000 100%);
	background-color:#0a0a0a;
}
.hyun_write:active {
	position:relative;
	top:1px;
}
/* delete 버튼  */
.hyun_delete{
  padding: 0.25rem 0.5rem  !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
}

</style>
</head>
<!-- head -->

<body id="page-top">
  <!-- 상단 nav -->
  <%- include('../common/nav.ejs') %>
  <div id="home" class="intro route bg-image" style="background-image: url(/img/announce.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">Announce</h1>
          <p class="intro-subtitle"><span class="text-slider-items">공지사항, 주목!, 공지사항, 주목!</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>

 <!--/ Contents START - 글목록 부분 시작 /-->
 <section id="about" class="about-mf sect-pt4 route">
  <div class="container" >
    <br>
    <br>
    <!-- 해당 글목록 제목 (공지사항 / 뉴스 등등..)-->
    <h2 class="hyun_center"><strong>공지사항</strong></h2>

    <!--검색창-->
    <!-- <a href="/announce/create" class="btn btn-info btn-outline-primary float-right hyun_write" role="button">글쓰기</a> -->
    <div class="container input-group mb-2 hyun_div">
      <input class="form-control hyun_searchbar" id="search-input" placeholder="Search">
      <button class="hyun_button"id="search"><i class="fa-solid fa-magnifying-glass" style="color: gray"></i></button>        
    </div>

    <!-- EJS사용 글목록-->
    <!-- post list using EJS-->
    <div class="table-responsive-sm" >
      <table class="table table-hover" style="margin-bottom: 100px;">
        <thead>
          <tr>
            <th>No</th>
            <th>Title</th>
            <th>Time</th>
            <th>Author</th>
            <% if(isAuthenticated){ %>
            <th class="d-print-none">
              <a class="btn btn-sm btn-success" href="/announce/create">Add</a>
            </th>
            <% }%>
          </tr>
        </thead>
        <tbody>
          <% for (var i= 0; i<글목록.length; i++){ %>
            <tr>
              <td><%= i+1%></td>
              <td><a href = '/announce/detail/<%= 글목록[i]._id %>'><%= 글목록[i].title %></a></td>
              <td><%= 글목록[i].time %></td>
              <% if(글목록[i].Power == "1"){ %>
              <td>관리자</td>
              <% }else{ %>
              <td><%= 글목록[i].Author %></td>
              <% }%>       
              <% if(isAuthenticated){ %>
              <td class="d-print-none">
                <a class="btn btn-sm btn-warning" href="/announce/edit/<%= 글목록[i]._id %>" role="button">Edit</a>
                <button type="submit" class="delete btn btn-danger hyun_delete "  data-id = "<%= 글목록[i]._id %>">Delete</button> 
                <script src = "../js/delete.js"></script><!-- Ajax사용 -->
              </td>
              <% }%>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

  <script src="/js/search.js"></script>

      <!-- JavaScript Libraries -->
      
      <script src="/lib/jquery/jquery-migrate.min.js"></script>
      <script src="/lib/popper/popper.min.js"></script>
      <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
      <script src="/lib/easing/easing.min.js"></script>
      <script src="/lib/counterup/jquery.waypoints.min.js"></script>
      <script src="/lib/counterup/jquery.counterup.js"></script>
      <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
      <script src="/lib/lightbox/js/lightbox.min.js"></script>
      <script src="/lib/typed/typed.min.js"></script>
      
      <!-- Template Main Javascript File  -->
      <script src="/js/main.js"></script>
     
</body>
</html>